<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <div>
                  <ul class="social">
                      <li>
                          <a href="mailto:contact@cra.moe"><i class="fa fa-envelope"></i> Feedback</a>
                      </li>
                      <li>
                          <a href="https://github.com/sustech-cra/"><i class="fa fa-github"></i> GitHub </a>
                      </li>
                      <li>
                          <a href="https://t.me/SUSTechMirrors"><i class="fa fa-telegram"></i> Telegram Channel</a>
                      </li>
                  </ul>
              </div>
            </div>

            <div class="col-sm-4">
              {% include pic.html name="logo-white" %}
              <p style="color: #384452"> The best team on the planet. </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->
